/*--------------------------------------------------------------
## shop-cards
--------------------------------------------------------------*/
.shop-cards {
	padding: 100px 0;
	background-color: $white;
	position: relative;

	@include mq($lap-large) {
		padding: 80px 0;
	}

	@include mq($xl) {
		padding: 60px 0;
	}

	@include mq($lg) {
		padding: 40px 0;
	}
}

.shop-cards__info-name {
	color: $outer-space;
	font-family: $font-main;
	line-height: 1.3;
	font-size: 36px;
	display: block;
	margin-bottom: 40px;

	@include mq($lap-large) {
		font-size: 30px;
	}

	@include mq($xl) {
		font-size: 30px;
		margin-bottom: 20px;
	}

	@include mq($lg) {
		font-size: 28px;
		text-align: center;
	}

	@include mq($md) {
		font-size: 26px;
	}
}

.shop-cards__info-list {
	margin-bottom: 40px;

	@include mq($xl) {
		margin-bottom: 20px;
	}
	li {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $alto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			color: $outer-space;
			font-family: $font-main;
			line-height: 1.3;
			font-size: 18px;
			display: inline-block;

			@include mq($xl) {
				font-size: 16px;
			}

			@include mq($lg) {
				font-size: 14px;
			}
			&:first-child {
				margin-right: 10px;
				text-align: left;
			}
			&:last-child {
				margin-left: 10px;
				text-align: right;
			}
		 }
	}
}

.shop-cards__info-link {
	font-family: $font-main;
	font-size: 18px;
	font-weight: 400;
	color: $outer-space;
	transition: $dur $ease;
	position: relative;
	width: fit-content;
	display: block;

	@include mq($xl) {
		font-size: 16px;
	}

	@include mq($lg) {
		font-size: 14px;
	}

	@include mq($sm) {
		margin-bottom: 20px;
	}

	&::after {
		content: '';
		width: 22%;
		height: 2px;
		background-color: $outer-space;
		bottom: 0;
		left: 0;
		display: block;
		transition: $dur $ease;
	}

	@include hover {
		color: $carnation;

		&::after {
			width: 100%;
			background-color: $carnation;
		}
	}
}

.shop-cards__image {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

	@include mq($lg) {
		max-width: 300px;
		margin: 0 auto 20px;
	}

	@include mq($md) {
		max-width: 80%;
	}
}

.shop-cards__item {
	margin-bottom: 100px;
	position: relative;

	@include mq($lap-large) {
		margin-bottom: 80px;
	}

	@include mq($xl) {
		margin-bottom: 60px;
	}

	@include mq($lg) {
		margin-bottom: 40px;
	}

	@include mq($md) {
		margin-bottom: 30px;
	}

	&:nth-child(even) {
		flex-direction: row-reverse;
	}
}

.shop-cards__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include mq($sm) {
		flex-direction: column;
		justify-content: center;
	}
}

// popup
.popup-form {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: $dur $ease;

	&.show-popup {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%);

		.popup-form-wrapper {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
.popup-form-wrapper {
	background-color: $white;
	border-radius: 5px;
	padding: 60px 60px 40px;
	text-align: center;
	width: 100%;
	max-width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	transition: $dur $ease;
	height: auto;
	max-height: 60vh;
	overflow-x: auto;
	@include scroll-style($sinbad, $gallery, 20px, 0.6vw);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);

	@include mq($xl) {
		padding: 60px 40px 40px;
	}

	@include mq($lg) {
		padding: 40px;
	}

	textarea {
		max-height: 150px;
	}
}

.form-popup__wrapper-input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	@include mq($lg) {
		margin-bottom: 20px;
	}
	input {
		color: $outer-space;
		background-color: transparent;
		border: none !important;
		border-radius: 0;
		display: block;
		padding: 10px;
		transition: $dur $ease;
	}
	
	.wpcf7-form-control-wrap {
		border-bottom: 1px solid $sinbad !important;
		margin-left: 15px;
		max-width: 350px;
		width: 100%;
	}
}

.popup-form__close {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 20px;

	svg {
		height: 100%;
	}
}

.close-icon  {
	color: $outer-space;
	transition: $dur $ease;
	cursor: pointer;
	@include hover {
		color: $sinbad;
	}
}

.popup-form-overlay {
	background-color: rgba(0, 0, 0, 0.432);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}