# ignore everything in the "wp-content" directory, except:
# "mu-plugins" directory
# "plugins" directory
# "themes" directory
wp-config.php
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/plugins/all-in-one-wp-migration
wp-content/themes/*/.env

# ignore compiled files
wp-content/themes/*/dist
wp-content/themes/*/.sass-cache
wp-content/themes/*/style.css
wp-content/themes/*/style.css.map

# ignore Editor files
.idea
.vscode
wp-content/themes/*/index.sublime-workspace
wp-content/themes/*/.sublime-gulp.cache

# ignore node_modules
wp-content/themes/*/node_modules

#ignore composer modules
wp-content/themes/*/vendor

# ensure wpengine git push compatibility
_wpeprivate
wp-content/blogs.dir
wp-content/upgrade
wp-content/object-cache.php
wp-content/mysql.sql
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/wpengine-common
wp-content/mu-plugins/limit-login-attempts
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.log
