/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
	color: $outer-space;
	background-color: $aqua-squeeze;
	border: 1px solid $sinbad;
	border-radius: 3px;
	display: block;
	padding: 10px;
	width: 100%;
	transition: $dur $ease;

	&:invalid {
		background-color: rgba($red, 0.025);
	}

	&:focus {
		outline: none;
	}
}

textarea {
	resize: none;
}

input[type='submit'] {
	display: inline-block;
	font-family: $font-main;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	transition: $dur $ease;
	position: relative;
}

/*--------------------------------------------------------------
## CF7 Plugin Form
--------------------------------------------------------------*/
// Form thank you example
.cf7-holder { // wrapper that holding form and thank you message popup
	position: relative;

	> * {
		position: relative;
		z-index: 0;
	}

	.wpcf7 {
		opacity: 1;
		transition: $dur $ease;
	}

	&.form-is-sent {
		.wpcf7 {
			opacity: 1;
		}
	}

	.wpcf7-mail-sent-ok {
		display: none !important; //sass-lint:disable-line no-important
	}
}

.cf7-holder__popup {
	//thank you message popup
	position: absolute;
	top: 50%;
	color: $black;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.2);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: $white;
	border-radius: 5px;
	padding: 35px 30px;
	text-align: center;
	width: 100%;
	max-width: 350px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	transition: $dur $ease;

	.form-is-sent & {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transform: translate(-50%, -50%) scale(1);
	}
}

.cf7-holder__popup-img {
	max-width: 80px;
	margin: 0 auto 15px;
}

.submit-button {
	position: relative;
}

.wpcf7-spinner {
	margin: 0;
	position: absolute;
	background-color: transparent;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid;
	border-color: $carnation $carnation transparent transparent;
	animation: rotation 1s linear infinite;

	&::after,
	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		border: 2px solid;
		border-color: transparent transparent $texas-rose $texas-rose;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		animation: rotationBack 0.5s linear infinite;
		transform-origin: center center;
		background-color: transparent;
    }

    &::before {
		width: 4px;
		height: 4px;
		border-color: $outer-space $outer-space transparent transparent;
		animation: rotation 1.5s linear infinite;
    }
}

.wpcf7-response-output {
	display: none !important;//sass-lint:disable-line no-important
}

.wpcf7-not-valid-tip {
	position: absolute;
	min-width: 300px;
}
